Flask==3.1.2Flask-SQLAlchemy==3.1.1Flask-Login==0.6.3Flask-Limiter==4.1.1pandas==3.0.1numpy==1.26.4scikit-learn==1.8.0joblib==1.5.2openai==2.21.0groq==1.0.0python-dotenv==1.2.1symspellpy==6.9.0gunicorn